body{
	background-color: cyan;
}

.header{
	font-family: Times;
	font-weight: bold;
	font-size: 80px;
	color:#39ff14;
	display:flex;
	align-content: center;
	justify-content:center;
	padding-top: 35vh;
}

.links{
	font-family:times;
	font-size:40px;

}

.links a{
	font-family:times;
	font-size:40px;
	padding:10px;
	color:white;
	display:flex;
	justify-content: center;

}