body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	color:white;
}

a {
	color:red;
}


/*Index Homepage*/

.index-intro{
	font-size:18px;
	margin-bottom:25vh;
	padding:10px;
}

.index-row{
	display:flex;
	flex-wrap:wrap;
	padding:10px;
	margin-bottom:5px;
	margin-top:5px;
	border-top:2px solid white;
}

.index-name{
	flex:0 0 50%;

}

.index-layer{
	flex:0 0 25%;

}

.index-tag{
	flex:0 0 25%;
}

/*ip address*/
.ip{
	background-color:cyan;
	height: 100vh;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content: center;
}

.ip-text{
	font-size:13vw;
	text-align: center;

}

/*Checkers*/

.checkers{
	display:flex;
	flex-wrap:wrap;

}

.checkers-black{
	width:50vh;
	width:50vw;
	background-color:black;

}

.checkers-white{
	width:50vw;
	height:50vh;
	background-color: white;

}


/*cloud pattern*/

.cloud-pattern{
	display:flex;
	flex-wrap:wrap;
}

.cloud-circle{
	width:25vw;
	height:25vh;
	background-image:linear-gradient(blue, white)
	border-radius:50%;
}


/*chip*/

.chip-container{
	height:100vh;
	width:100vw;
	display:flex;
	align-content:center;
	justify-content:center;
}



.barcode{
	background-color: white;
	display:flex;
	flex-wrap:wrap;
/*	position: fixed;*/
}

.barcode1{
	background-color:black;
	width:7vw;
	height:100vh;
	margin-left:40px;

}

.barcode2{
	background-color:black;
	width:10vw;
	margin-left:14px;
	height:100vh;
}

.barcode3{
	background-color: black;
	width:5vw;
	height:100vh;
	margin-left:100px;
}

.network{
	background-color: gray;
	width:100vw;
	height:100vh;
}

.networkbox{
	background-color:white;
	width:95vw;
	height:80vh;
	position: fixed;
	margin-left:2.5%;
	margin-top: 10%;

}

.networktext{
	background-color: black;
	width:90vw;
	height:3vh;
	margin-left:2.5%;
	margin-top:2.5%;
}

.networktextblue{
	background-color: navy;
	width:90vw;
	height:3vh;
	margin-left:2.5%;
	margin-top:2.5%;
	}

.maps{
	background-color:lightgray;
	height:100vh;
	width:100vw;
}

.mapsimage img{
	width:400px;
	margin-left: 35%;
	margin-top: 8%;

}


.hotspotcircle{
	background-color:lime;
	width:50vw;
	height:50vw;
	border-radius:50%;
	margin-left:25vw;
	margin-top:6vh;
	position: fixed;
}

.hotspotsymbol img{
	margin-left:8vw;
	margin-top: 11vh;
}

.bluetoothcircle{
	background-color:navy;
	width:50vw;
	height:50vw;
	border-radius:50%;
	margin-left:25vw;
	margin-top:6vh;
	position: fixed;
}

.bluetoothsymbol img{
	margin-left:5vw;
	margin-top:7vh;
	width:40vw;
}









