
    .marquee {
      height: 50px; 
      overflow: hidden;
      position: relative;
      color:white;
      font-family:courier;
      font-size:60px;
      margin-top:15px;
      }

      .marquee2 {
        height: 50px; 
        overflow: hidden;
        position: relative;
        color:white;
        font-family:courier;
        font-size:40px;
        margin-top:15px;
        }

      