	body{
	      background-color:black;
	      color:white;
	      font-family:courier;
	      font-size:50px;
	    }

	a {
		color:white;
	}


	img {
		position:center;
		margin-left:24.5%;
	}

	.about{
		background-color:red;
		position:fixed; 
		top:0px;
		left:0px;
		height:100vh;
		width:100vw;
		margin-left: -100vw;
		transition:1s; 
		
	}

	.about.active{
		margin-left:0vw;
		transition:1s; 
		background-color:red;
		color:#000;
		height:100vh;
		width:100vw;
	}

	.buy{
		background-color:blue;
		position:fixed; 
		top:0px;
		left:0px;
		height:100vh;
		width:100vw;
		margin-left: 100vw;
		transition:1s; 
		
	}

	.buy.active{
		margin-left:0vw;
		transition:1s; 
		background-color:green;
		color:#000;
		height:100vh;
		width:100vw;
	}

	.articles{
		background-color:lime;
		position:fixed; 
		top:0px;
		left:0px;
		height:100vh;
		width:100vw;
		margin-top: -100vh;
		transition:1s; 
		
	}

	.articles.active{
		margin-top:0vh;
		transition:1s; 
		background-color:yellow;
		color:#000;
		height:100vh;
		width:100vw;
	}		

	.nav{
		font-family:courier;
	}

    .grid{
      display:flex;
      flex-wrap:wrap;
    }

    .col{
      font-family:courier;
      font-size:50%;
    }

    .content{
      padding:20px;
    }

    .w-1of4{
      flex:0 0 25%;
      text-align:center;
    }

    .w-1of3{
      flex:0 0 33%;
      text-align:center;
    }
    .title {
      font-size: 24vw;
      text-align: center;
    }

    .w-1of2{
    	flex:0 0 50%;
    	text-align: left;
    }

    .contents {
      width: 50%;
      height:100%;
      position: fixed;
      bottom:0px;
      left:0px;
      background-color: yellow;
      margin-left: -50%;
      overflow: scroll;
      transition: 0.5s;
    }

    .contents.left {
      margin-left: 0%;
      transition: 0.5s;
    }

    .nav-about {
      cursor: pointer;
    }

    .nav-buy {
      cursor: pointer;
    }

    .nav-articles {
      cursor: pointer;
    }

    .close {
      cursor: pointer;
    }


/*slide in from left*/
/*.menu{
	position:fixed;
	top:0px;
	left:0px;
	width:50%;
	height:100%;
	background-color:lime;
	margin-left:-50%;
	transition:0.5s;
}

.menu.left{
	margin-left:0%;
	transition:0.5s;
}
*/

/*slide in from bottom*/

.menu{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:50%;
	background-color:lime;
	margin-bottom:-50%;
	transition:0.5s;
	overflow-y:scroll;

}

.menu.bottom{
	margin-bottom:0%;
	transition:0.5s;
}

.popup-link{
	color:blue;
	border:1px solid blue;
	border-radius:50%;
	padding:5px;
	cursor:pointer;
}

.popup{
	height:100vh;
	width:100vw;
	position:fixed;
	top:0px;
	left:0px;
	background:lime;
	display:none;
	align-items:center;
	justify-content:center;

}

.popup.active{
	border:10px solid red;
	display:flex;
	cursor:pointer;
}

.popup-image{
	height:80vh;
}

.popup-image img{
	height:100%;
	width:auto;
}

.buyinfo{
	color:white;
	margin-top:50px;
	position:fixed;
	margin-left:50px;

}
.buy-close{
	color:white;
	margin-top:51%;
	margin-left:39%;
	cursor: pointer;
}

.about-close{
	cursor: pointer;
	margin-left:600px;
	margin-top:750px;
	position:absolute;
}


.articles-close{
	cursor:pointer;
	margin-left:650px;
	margin-top:700px;
	position:absolute;
}
.aboutinfo{
	margin-top:45%;
}





